/ProjetoTriangulo/nbproject/private/
/ProjetoFatorial/nbproject/private/
/ProjetoFatorial/build/
/ExercicioRepita/nbproject/private/
/ExercicioRepita/build/
/Contador/nbproject/private/
/Contador/build/
/PreencherVetor/nbproject/private/
/PreencherVetor/build/
/FatorialFuncao/nbproject/private/
/FuncaoFatorial/nbproject/private/
/FuncaoFatorial/build/
/FuncaoSwing/nbproject/private/
/FuncaoSwing/build/
